<!-- 
	@require 'widget/header/header.less'
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>白色石头</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content="白色石头的个人博客，学习交流">
		<meta name="keywords" content="个人网站，博客，html,css,javascript,jquery,html5,css5,jquery">
	
    <link rel="stylesheet" type="text/css" href="/widget/header/header.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
	<body>
		<nav class="middle">
			<ul class="nav_list">
				<li class="nav_item"><a href="/">首页</a></li>
				<li class="nav_item"><a href="/archive">存档</a></li>
				<li class="nav_item"><a href="/tags">标签</a></li>
				<li class="nav_item"><a href="/about">关于我</a></li>
			</ul>
		</nav>
		<header class="middle">
			<div class="wrapper">
				<h1><%= title %></h1>
			</div>
		</header>

		<% if (success) { %>
  			<div><%= success %></div>
		<% } %>
		<% if (error) { %>
  			<div><%= error %> </div>
		<% } %>
		<div class="content">
			
		
<div class="wrapper middle">
<div class="main">
<% posts.forEach(function (post, index) { %>
    <article>
        <h2 class="posttitle">
            <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
        </h2>
        <p class="info">
            作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
            日期：<%= post.time.minute %> | 
            标签：
            <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
            <% }) %>
        </p>
        <p>
            <%- post.post %>
            <div><a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">阅读全文</a></div>
        </p>
        <div class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></div>
    </article>    
<% }) %>
<%- include paging %>
</div>

    <div class="aside">
        <div class="tags">
            <h2 class="tags_title border">标签</h2>
            <ul class="tags_list">
                <% tags.forEach(function (tag, index) {%>
                    <li class="tag_item"><a href="/tags/<%= tag%>" target="blank"><%= tag%></a></li>
                <%})%>
                <li class="tag_item"><a href="/tags/" target="blank">查看全部>></a></li>
            </ul>
        </div>

        <div class="friendlinks">
            <h2 class="border">友情链接</h2>
            <ul class="">
            <%friendLinks.forEach(function (link, index) {%>
                <li class="fl_item"><a href="<%= link.link%>" target="_blank"><%= link.title%></a></li>
            <%})%>
            </ul>
        </div>

        <%- include readbooks%>
    </div>
</div>    

		</div>

<script type="text/javascript" src="/widget/header/header.js"></script>
</body>
</html>