<%- include header%>
<div class="wrapper">
<div class="main">
<% posts.forEach(function (post, index) { %>
    <article>
        <h2 class="posttitle">
            <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
        </h2>
        <p class="info">
            作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
            日期：<%= post.time.minute %> | 
            标签：
            <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
            <% }) %>
        </p>
        <p><%- post.post %></p>
        <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
    </article>    
<% }) %>
<%- include paging %>
</div>

    <div class="aside">
        <div class="tags">
            <h2 class="tags_title border">标签</h2>
            <ul class="tags_list">
                <% tags.forEach(function (tag, index) {%>
                    <li class="tag_item"><a href="/tags/<%= tag%>" target="blank"><%= tag%></a></li>
                <%})%>
                <li class="tag_item"><a href="/tags/" target="blank">查看全部>></a></li>
            </ul>
        </div>

        <div class="friendlinks">
            <h2 class="border">友情链接</h2>
            <ul class="">
            <%friendLinks.forEach(function (link, index) {%>
                <li class="fl_item"><a href="<%= link.link%>" target="_blank"><%= link.title%></a></li>
            <%})%>
            </ul>
        </div>

        <%- include readbooks%>
    </div>
</div>    
<%- include footer %>