<%- include header %>
<div class="wrapper">
<div class="main">
<% posts.forEach(function (post, index) { %>
    <article>
        <h2 class="posttitle">
            <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
        </h2>
        <p class="info">
            作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
            日期：<%= post.time.minute %> | 
            标签：
            <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
            <% }) %>
        </p>
        <p><%- post.post %></p>
        <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
    </article>    
<% }) %>
<%- include paging %>
</div>

    <div class="aside">
        <div class="tags">
            <h2 class="tags_title border">标签</h2>
            <ul class="tags_list">
                <% tags.forEach(function (tag, index) {%>
                    <li class="tag_item"><a href="/tags/<%= tag%>" target="blank"><%= tag%></a></li>
                <%})%>
            </ul>
        </div>

        <div class="friendlinks">
            <h2 class="border">友情链接</h2>
            <ul class="">
            <%friendLinks.forEach(function (link, index) {%>
                <li class="fl_item"><a href="<%= link.link%>" target="_blank"><%= link.title%></a></li>
            <%})%>
            </ul>
        </div>

        <div class="readBooks">
            <h2 class="border">读过的树</h2>

            <table>
                <tr>
                    <td>
                        <a href="https://book.douban.com/subject/2228378/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s5860151.jpg">
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/1240134/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s2501176.jpg">
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/26708954/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s28383612.jpg">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://book.douban.com/subject/11506062/" target="_blank">
                            <img src="https://img1.doubanio.com/mpic/s11337059.jpg">
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/10789820/" target="_blank">
                            <img src="https://img1.doubanio.com/mpic/s10307479.jpg">
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/6805117/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s27194543.jpg">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="https://book.douban.com/subject/1200840/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s1144911.jpg">
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/1008145/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s1070222.jpg">
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/1059258/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s1045431.jpg">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="https://book.douban.com/subject/26369130/" target="_blank">
                            <img src="https://img1.doubanio.com/mpic/s28056637.jpg"> 
                        </a>
                    </td>
                    <td>
                        <a href="https://book.douban.com/subject/5362856/" target="_blank">
                            <img src="https://img3.doubanio.com/mpic/s6245861.jpg">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>    
<%- include footer %>